@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #272727;
  background-color: #ffffff;
}

/*styles for searchbar imported as an external component*/
.datalist-input {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.datalist-input .autocomplete-input {
  width: 100%;
}

.datalist-input .datalist-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.datalist-input .default-datalist-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
}

.datalist-input .default-datalist-items div:not(.datalist-active-item) {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.datalist-input .default-datalist-items div:not(.datalist-active-item):hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.datalist-input .datalist-active-item {
  /*when navigating through the items using the arrow keys:*/
  cursor: pointer;
}

.datalist-input .datalist-active-item-default {
  background-color: #000000;
  color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
}
.datalist-input .autocomplete-input:focus {
  outline: none;
}
.navtab {
  @apply transition duration-150 ease-in-out transform hover:-translate-y-1 flex-1 text-center text-white py-3 hover:text-white border-b-0 border-light-orange2 hover:border-orange bg-light-orange hover:bg-orange hover:shadow hover:font-semibold;
}

.activeTab {
  @apply transition duration-150 ease-in-out transform flex-1 text-center text-white py-3 border-b-0 border-l border-r border-orange bg-orange font-semibold shadow;
}

.activeMyEventsButton {
  @apply self-center py-2 px-3 mt-3 border-2 shadow shadow-lg bg-orange text-white border-orange tracking-wider transform scale-105 font-semibold;
}

.inactiveMyEventsButton {
  @apply self-center py-2 px-3 mt-3 border-2 bg-gray-200 border-gray-200 shadow tracking-wider;
}

.submitButton {
  @apply lg:self-center py-2 px-3 border-2 bg-green border-green shadow hover:shadow-lg hover:bg-dark-green text-white hover:border-green tracking-wider transform hover:scale-105 rounded;
}

.createEventSubmit {
  @apply lg:w-56 mt-4 py-2 px-3 border-2 bg-green border-green shadow hover:shadow-lg hover:bg-dark-green text-white hover:border-green tracking-wider transform hover:scale-105 rounded;
}

.createEventCancel {
  @apply lg:w-56 mt-4 py-2 px-3 bg-transparent text-torch-red tracking-wider transform hover:scale-105;
}

.leaveEventBtn {
  @apply lg:w-44 mt-2 py-2 px-3 border-2 bg-ll-red border-ll-red shadow hover:shadow-lg hover:bg-torch-red text-white hover:border-ll-red tracking-wider transform hover:scale-105 rounded;
}

.saveGCalBtn {
  @apply lg:w-44 mt-2 py-2 px-3 mr-2 border-2 bg-light-navy border-light-navy text-xs shadow hover:shadow-lg hover:bg-navy text-white hover:border-light-navy tracking-wider transform hover:scale-105 rounded;
}
